<div class="quiz">
%for i, choice in enumerate(tag("choice"), 1):
<a class="glyphicon glyphicon-pencil showdetails" data-toggle="collapse"
   href="#quiz_id_${tag.md5id_.value}_${i}"
   style="font-size: 80%;"></a>
&nbsp; <a data-toggle="collapse" class="quiz-choice"
          href="#quiz_id_${tag.md5id_.value}_${i}">
    ${formatter.format(choice)}
  </a>

<div class="collapse-group">
        <div class="collapse" id="quiz_id_${tag.md5id_.value}_${i}">
        <p>
            %if choice.exists('correct'):
            <span class="glyphicon glyphicon-ok"></span><span class="sr-only">Верный ответ.</span>
        %else:
            <span class="glyphicon glyphicon-remove"></span><span class="sr-only">Неверный ответ.</span>
        %endif
        %if choice.exists('comment'):
    ${formatter.format(choice.comment_)}
            %endif
        </p>
        </div>

</div>
%endfor
</div>